@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #000;
  color: #fff;
}
body.hidden {
  overflow: hidden;
}

.container {
  max-width: 910px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  position: relative;
}

.modal__close-btn, .profile__add-card, .profile__editor {
  -webkit-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
@media (any-hover: hover) {
  .modal__close-btn:hover, .profile__add-card:hover, .profile__editor:hover {
    opacity: 0.6;
  }
}

.profile__add-card, .profile__editor {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 2px;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__container {
  padding-top: clamp(1.75rem, 1.174rem + 2.88vw, 2.813rem);
  margin-bottom: 36px;
}
.header__logo {
  margin-bottom: clamp(1.938rem, 1.599rem + 1.69vw, 2.563rem);
  width: auto;
}
.header__border {
  border-bottom: 1px solid #545454;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-bottom: clamp(3rem, 2.356rem + 3.22vw, 4.188rem);
}

.profile__container {
  margin-bottom: clamp(2.25rem, 1.945rem + 1.53vw, 2.813rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
@media (max-width: 768px) {
  .profile__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.profile__image {
  width: 130px;
  height: 130px;
}
.profile__image img {
  border-radius: 50%;
}
.profile__info > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 18px;
}
.profile__name {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: clamp(1.625rem, 1.083rem + 2.71vw, 2.625rem);
}
.profile__editor {
  width: 24px;
  height: 24px;
  margin-bottom: 8px;
}
.profile__description {
  font-size: clamp(0.875rem, 0.739rem + 0.68vw, 1.125rem);
}
.profile__add-card {
  margin-left: auto;
  width: 150px;
  height: 50px;
  color: #fff;
}
@media (max-width: 768px) {
  .profile__add-card {
    width: 280px;
    margin-left: 0;
  }
}

.cards__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 280px);
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.cards__card {
  border-radius: 5px;
  overflow: hidden;
  display: grid;
  grid-template-rows: 280px 80px;
}

.card__image {
  cursor: pointer;
}
.card__content {
  padding: 0 15px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
}
.card__buttons button {
  background-color: transparent;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}
@media (any-hover: hover) {
  .card__buttons button:hover {
    -webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}
.card__title {
  font-weight: 900;
  font-size: 20px;
  color: #000;
}

.footer__copyright {
  padding-bottom: clamp(2.25rem, 1.436rem + 4.07vw, 3.75rem);
  font-size: clamp(0.875rem, 0.739rem + 0.68vw, 1.125rem);
  color: #545454;
}

.modal {
  padding: 15px;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  overflow-y: auto;
}
.modal__container {
  margin: auto;
  width: clamp(17.5rem, 12.415rem + 25.42vw, 26.875rem);
  padding: 35px 20px;
  background-color: #fff;
  border-radius: 10px;
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.modal__title {
  font-weight: 900;
  font-size: clamp(1.125rem, 0.922rem + 1.02vw, 1.5rem);
  text-align: center;
}
.modal__input {
  padding: 0 10px 5px 0;
  font-size: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-transition: border 0.5s ease-in-out;
  -o-transition: border 0.5s ease-in-out;
  transition: border 0.5s ease-in-out;
}
.modal__input:focus {
  border-bottom-color: #000;
}
.modal__save-btn {
  height: 50px;
  font-size: 18px;
  color: #fff;
  background-color: #000;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .modal__save-btn:hover {
    -webkit-transform: translateY(3px);
        -ms-transform: translateY(3px);
            transform: translateY(3px);
  }
}
.modal__close-btn {
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: -40px;
  right: -40px;
}
@media (max-width: 425px) {
  .modal__close-btn {
    right: 0;
  }
}

.modal-profile,
.modal-card {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.modal-profile__title, .modal-profile__url,
.modal-card__title,
.modal-card__url {
  margin-bottom: 55px;
}
.modal-profile__name, .modal-profile__descr,
.modal-card__name,
.modal-card__descr {
  margin-bottom: 30px;
}

.modal-profile.hidden,
.modal-card.hidden {
  opacity: 0;
  visibility: hidden;
}