@import "_nullstyle.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;900&display=swap");

body {
	font-family: "Inter", sans-serif;
	background-color: #000;
	color: #fff;
}
.container {
	max-width: 910px;
	padding: 0 15px;
	margin: 0 auto;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
%mainHover {
	& {
		transition: opacity 0.3s ease-out;
	}
	@media (any-hover: hover) {
		&:hover {
			opacity: 0.6;
		}
	}
}
%buttonSettings {
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 2px;
}
img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.header {
	&__container {
		padding-top: clamp(1.75rem, 1.174rem + 2.88vw, 2.813rem);
		margin-bottom: 36px;
	}

	&__logo {
		margin-bottom: clamp(1.938rem, 1.599rem + 1.69vw, 2.563rem);
		width: auto;
	}
	&__border {
		border-bottom: 1px solid #545454;
	}
}

.main {
	flex: 1 1 auto;
	margin-bottom: clamp(3rem, 2.356rem + 3.22vw, 4.188rem);
}

.profile {
	&__container {
		margin-bottom: clamp(2.25rem, 1.945rem + 1.53vw, 2.813rem);
		display: flex;
		align-items: center;
		gap: 30px;
	}
	&__image {
		width: 130px;
		height: 130px;
		& img {
			border-radius: 50%;
		}
	}

	&__info {
		& > div {
			display: flex;
			align-items: center;
			gap: 18px;
		}
	}

	&__name {
		margin-bottom: 16px;
		font-weight: 500;
		font-size: clamp(1.625rem, 1.083rem + 2.71vw, 2.625rem);
	}

	&__editor {
		width: 24px;
		height: 24px;
		margin-bottom: 8px;
		@extend %buttonSettings;
		@extend %mainHover;
	}

	&__description {
		font-size: clamp(0.875rem, 0.739rem + 0.68vw, 1.125rem);
	}

	&__button {
		margin-left: auto;
		width: 150px;
		height: 50px;
		color: #fff;
		@extend %buttonSettings;
		@extend %mainHover;
	}
}

.cards {
	&__container {
		display: grid;
		grid-template-columns: repeat(auto-fit, 280px);
		gap: 20px;
		align-items: center;
		justify-content: center;
	}
	&__card {
		border-radius: 5px;
		overflow: hidden;
		display: grid;
		grid-template-rows: 280px 80px;
	}
}
.card {
	&__image {
		cursor: pointer;
	}

	&__content {
		padding: 0 15px;
		background-color: #fff;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__buttons {
		display: flex;
		align-items: center;
		gap: 7px;
		& button {
			background-color: transparent;
			transition: transform 0.2s linear;
			@media (any-hover: hover) {
				&:hover {
					transform: translateY(-2px);
				}
			}
		}
	}
	&__title {
		font-weight: 900;
		font-size: 24px;
		color: #000;
	}
}

.footer {
	&__copyright {
		padding-bottom: clamp(2.25rem, 1.436rem + 4.07vw, 3.75rem);
		font-size: clamp(0.875rem, 0.739rem + 0.68vw, 1.125rem);
		color: #545454;
	}
}

@media (max-width: 768px) {
	.profile__container {
		flex-direction: column;
	}
	.profile__button {
		width: 280px;
		margin-left: 0;
	}
}
